body{
    background-image: url("/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

#fokeret{
    width: 1000px;
    margin: auto;
}

#header{
    min-width: 650px;
    max-width: 1000px;
    background-image: url("/img/panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    float: left;
    padding-left: 30px;
}

p{
    font-weight: bold;
    padding-left: 15px;
}

#cimer{
    padding: 15px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: 15px;
}

.leiras{
    width: 450px;
    background-color: #5b9cea;
    float: left;
    padding: 20px;
}

.jobbra{
    float: right;
}

table{
    border-collapse: collapse;
    margin-bottom: 10px;
}

td, th{
    background-color: #b0d1f1;
    border: 1px solid black;
    padding: 5px;
}

.elso{
    text-align: center;
    font-weight: bold;
}
